/*********************
GENERAL
**********************/

header {
 text-align: center;
 text-decoration: underline;
 background-color: red;
 
}

header h1 {
  
}

header h2 {
  margin: 0 0 3em 0;
}

body {
  font-family: 'Open Sans, sans-serif';
}

#prep {
  margin: 3em 0 0 0;
  padding: 0 5%;
  text-align: center; 
 
  
}

#prep h1 {
  text-decoration: underline;
  color: #ff5806;
}

#prep p {
  color: #ff5806;
}

#prep li {
  list-style: none;
  margin: 2em 0;
  color: #ff5806;
}

#how h1 {
  text-align: center;
  margin: 3em 0 0 0;
  text-decoration: underline;
  color: #fd0d0d;
}

#how p {
  color: #fd0d0d;
}

#how li {
  color: #fd0d0d;
}

#wiring h2 {
  text-align: center;
  text-decoration: underline;
  color: blue;
}

#wirephoto {
  float: left;
  margin: 0 2.5% 0 2.5%;
  max-width: 45%;
}

#wiring p {
  float: left;
  margin: 0 2.5% 0 2.5%;
  max-width: 45%;
  color: blue;
}

#schematic {
  clear: both;
}

#schematic h2 {
  text-decoration: underline;
  text-align: center;
  color: purple;
}

#schphoto {
  float: left;
  margin: 0 2.5% 5% 2.5%;
  max-width: 45%;
}

#schematic p {
  float: left;
  margin: 10% 2.5% 10% 2.5%;
  max-width: 45%;
  color: purple;
}

#code {
  clear: both;
}

#code h2 {
  text-align: center;
  text-decoration: underline; 
  color: #007692;
}

#code p {
  margin: 2.5% 3% 2.5% 10%;  
  color: #007692;
}

#code li {
  color: #007692;
}

#note h2 {
  text-align: center;
  text-decoration: underline;
  margin: 5% 0 2% 0;
  color: red;
}

#note p {
  text-align: center;
  color: red;
}

#work h2 {
  text-align: center;
  text-decoration: underline;
  margin: 5% 0 2% 0;
}

#work p {
  text-align: center;
}

#breakdown h2 {
  text-align: center;
  text-decoration: underline;
  margin: 10% 0 2% 0;
}


body {
  background-color: #37ff01;
}


